section.container{
    display:flex;
    margin-top: -35%;
}

section.container > div{
    width: 450px;
    margin: auto;
    background: #eee;
    padding:20px;
    text-align:center;
    border-radius: 5px;
}

section.container form{
    display: flex;
    flex-direction: column;
}

form input[type="password"], form input[type="text"], form button[type="submit"]{
    width:100%;
    margin-bottom: 32px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline:0;
}

form button[type="submit"]{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: maroon;
}

form input[type="text"]:focus, form input[type="text"]:hover,
form input[type="password"]:focus, form input[type="password"]:hover{
    background-color: #ccc;
}
form button[type="submit"]:focus, .poelon[type="submit"]:hover{
    background-color: rgb(88, 1, 1);
}