body, html{ /* Mise en place général du body et de l'html */
	margin:0;
	padding: 0;
	font-family: Raleway;
}
.tout_nav{ /* Mise en place de toute la balise nav */
	width: 90%;
	margin: auto;
	position: relative;
	z-index:100;
	transition: .5s;
}
