
/* Nav du menu hamburger complet */

body {
	background-color:rgb(255, 255, 255);
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:none;
}
li {
	float: left;
}
li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 20px 24px;
	text-decoration: none;
}
li a:hover {
	background-color:rgb(202, 200, 200);
}
ul {
	position:relative;
	top:0;
	width:100%;
}
.active {
	background-color:rgb(255, 242, 242);
}